/*
 * Created by Ilya 'StormLord07' Repnev
 * Created on Sat Jul 29 2023
 */


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* добавить эту строку */
  background: #1e2125;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.user-list-container {
  width: 20%;
  background-color: #2f3136;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.user-list-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.user-list .user {
  background-color: #3b3e45;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.user-list .user:hover {
  background-color: #44484f;
}

.chat-window {
  width: 80%;
  height: auto;
  background-color: #2a2c2e;
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-output {
  flex: 1;
  overflow: auto;
  margin-bottom: 1em;
}

.chat-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 2.5%;
  margin-bottom: 0;
}

.chat-input input,
.chat-input button {
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}

.chat-input input {
  position: absolute;
  right: 0;
  width: 100%;
  padding-right: 60px;
  /* Make some space for the button */
}

.chat-input button {
  height: 90%;
  width: 90%;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  /* Position the button absolutely within the parent wrapper */
  right: 0.5%;
  /* Stick the button to the right of the parent wrapper */
  top: 50%;
  /* Align the button vertically in the middle */
  transform: translateY(-50%);
  /* Correct alignment by half of the button's height */
  width: 60px;
  /* Adjust as needed */
}